# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Build / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Django
*.sqlite3
local_settings.py
media/

# Environment variables
.env