html, body, #grid, svg{
    height:100%;
    width:100%;
}

#grid{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr;
    gap:2px;
    background-color: black;
}

.grid-item{
    background-color: white;
    padding: 5px;
}

#tree-view{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#bird-view{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#toolbar{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#main-view{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#cli{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
